@page "/my-purchases-backup"
@inject MovieAppData.MovieAppDataService movieAppDataService

<div class="row-layout my-purchases-backup-container">
    <div class="column-layout group">
        <h4 class="h4">
            My Purchases
        </h4>
        <IgbList class="list" my-purchases-backup-scope>
            @foreach (var item in movieAppDataMyPurchases)
            {
                <IgbListItem>
                    <div>
                        <div class="row-layout group_1">
                            <img src="@item.MoviePoster" class="image" />
                            <div class="row-layout group_2">
                                <div class="row-layout group_3">
                                    <div class="column-layout group_4">
                                        <p class="typography__subtitle-1 text">
                                            @item.Name
                                        </p>
                                        <a class="typography__body-1 hyperlink">
                                            @item.Theatre
                                        </a>
                                    </div>
                                    <div class="column-layout group_5">
                                        <p class="typography__body-1 text_1">
                                            Purchased
                                        </p>
                                        <p class="typography__body-1 text_2">
                                            @item.Purchased
                                        </p>
                                    </div>
                                </div>
                                <IgbButton class="button" my-purchases-backup-scope>
                                    <span class="material-icons">
                                        cloud_download
                                    </span>
                                    <span>Get Tickets</span>
                                    <IgbRipple></IgbRipple>
                                </IgbButton>
                            </div>
                        </div>
                    </div>
                </IgbListItem>
            }
            <IgbListItem></IgbListItem>
        </IgbList>
    </div>
</div>

@code {
    private MovieAppData.MyPurchasesType[] movieAppDataMyPurchases = Array.Empty<MovieAppData.MyPurchasesType>();

    protected override async Task OnInitializedAsync()
    {
        movieAppDataMyPurchases = await this.movieAppDataService.GetMyPurchases() ?? movieAppDataMyPurchases;
    }
}
